* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 40px;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
}

.navbar-izquierda,
.navbar-medio,
.navbar-derecha {
  display: flex;
}

.item {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.drop {
  position: relative;
  display: inline-block;
}

.lista-contenido {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.lista-contenido a {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.drop:hover .lista-contenido {
  display: block;
}

.navbar-derecha .boton-lupa {
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.boton-busqueda {
  background-color: #e0e0e0;
  color: #333;
  margin: 4px;
}

.navbar-derecha .boton-busqueda:hover {
  background-color: #ccc;
}

.contenedor {
  display: flex;
}

.aside {
  padding: 15px;
  max-width: 300px;
}
@media screen and (max-width: 860px) {
  .contenedor {
    flex-direction: column;
    align-items: center;
  }

  .aside {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }

  .imagen-seccion {
    display: block;
    margin: 0 auto 20px auto;
  }

  .imagen-seccion img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 861px) {
  .contenedor {
    flex-direction: row;
  }

  .aside {
    flex: 0 0 auto;
  }
  .imagen-seccion {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .imagen-seccion img {
    max-width: 100%;
    height: auto;
  }

  .seccion {
    overflow: hidden;
  }

  .seccion h2,
  .seccion p {
    margin-top: 0;
  }
}
.main {
  flex: 1;
  padding: 20px;
  margin-bottom: 20px;
}

.seccion {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.seccion h2 {
  margin-bottom: 10px;
}

img {
  width: clamp(100px, 60%, 300px);
}

.etiquetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.etiqueta {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 4px 5px 5px 0;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
